.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
/* img */
.ballDiv {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid black;
  background: url(../../assets/ball.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 50px black;
}
.ballDiv:hover {
  cursor: pointer;
  box-shadow: 5px 5px 50px red;
}
/* Answer */
.answers {
  text-align: center;
  font-size: 32px;
  font-family: fantasy;
  cursor: pointer;
}
/* Input */
input {
  margin: 20px 32px 10px 0;
  height: 50px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
  border: 2px solid black transparent;
  border-bottom: 2px solid black;
  padding-left: 20px;
  box-sizing: border-box;
}

input::placeholder {
  color: #1b1b1b;
}
.inputQuestion::placeholder {
  transition: 0.5s;
  color: blue;
}
.inputQuestion:hover {
  border: 2px solid blue;
}
.inputQuestion:focus {
  border: 2px solid blue;
}
.inputQuestion:focus::placeholder {
  font-size: 12px;
  line-height: 20px;
  transform: translateY(-12px);
  color: blue;
}

p {
  font-size: 20px;
}
/* Button */
.btn {
  font-size: 20px;
  font-weight: 700;
  color: rgb(245, 245, 245);
  text-shadow: 0 -1px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  outline: none;
  border: none;
  border-radius: 10px;
  background: #427ec2;
}
.btn:hover {
  cursor: pointer;
}
.btn:active {
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
}

.questionHistory {
  display: flex;
  justify-content: space-between;
}

.questionHistory p {
  margin-left: 100px;
}

.inputDiv {
  display: flex;
  flex-direction: column;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 20px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .container {
    flex-direction: column;
  }
}
