.authContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authForm {
  display: flex;
  flex-direction: column;
  background: white;
  border: 1px solid black;
  width: 300px;
  padding: 50px;
  border-radius: 20px;
  margin: 50px 0;
  text-align: center;
}
.authForm input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}
.authForm input:hover {
  cursor: pointer;
}
.authForm div {
  margin-bottom: 20px;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button:active {
  box-shadow: 3px 2px 2px black;
}
.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
